<div class="row flex-lg-row-revere align-items-center g-5 py-5">
  <div class="col-lg-6">
    <img src="/img/food_1.jpg" class="d-block mx-lg-auto img-fluid" alt="Recipe Image" width="700" height="500" loading="lazy">
    </div>

    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to Recipe App</h1>
      <p class="lead">Discover, share, and enjoy a wide variety of delicious recipes 
        from around the world.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/submit-recipes" class="btn btn-primary btn-lg px-4 me-md-2">Submit Recipes</a>
        <a href="/about" class="btn btn-outline-secondary btn-lg px-4">show Random</a>
      </div>

</div>

<!--Categories section start-->
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

  <% if (categories && categories.length > 0) { %>
    <% categories.forEach(function(category, index) { %>
      <a href="/categories/<%- category.name %>" class="col text-center category__link">
        <div class="category__img shadow">
          <img src="/img/<%- category.image %>" class="img-fluid" alt="<%- category.name %>" loading="lazy">
        </div>
        <div class="<%- category.name %>"><%- category.name %></div>
      </a>
    <% }) %>
  <% } else { %>
    <p>No categories found.</p>
  <% } %>
  
  
<a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="/img/food_2.jpg" class="img-fluid" alt="Category Image" loading="lazy">
    </div>
    <div class="category__name">ViewAll</div>



</div>

<!--Latest category section end-->
<section class="pb-4 pt-4">
    <h2>Latest Recipes</h2>
    <a href="/explore-latest" class="btn btn-primary mb-3">View more</a>

<div class="row row-cols-1 row-cols-md-3 g-4">


  <a href="/recipe/#"  class="col text-center category__link">
    <div class="category__img category__img--large  shadow">
      <img src="/img/breakfast.jpg" class="card-img-top" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">New flavoured agushi dish</div>     
  </a>

 
  <a href="/recipe/#"  class="col text-center category__link">
    <div class="category__img category__img--large  shadow">
      <img src="/img/food_2.jpg" class="card-img-top" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">New flavoured agushi dish</div>     
  </a>

  <a href="/recipe/#"  class="col text-center category__link">
    <div class="category__img category__img--large  shadow">
      <img src="/img/food_2.jpg" class="card-img-top" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">New flavoured agushi dish</div>     
  </a>

  <a href="/recipe/#"  class="col text-center category__link">
    <div class="category__img category__img--large  shadow">
      <img src="/img/food_2.jpg" class="card-img-top" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">New flavoured agushi dish</div>     
  </a>

  <a href="/recipe/#"  class="col text-center category__link">
    <div class="category__img category__img--large  shadow">
      <img src="/img/food_2.jpg" class="card-img-top" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">New flavoured agushi dish</div>     
  </a>

  <a href="/recipe/#"  class="col text-center category__link">
    <div class="category__img category__img--large  shadow">
      <img src="/img/food_2.jpg" class="card-img-top" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">New flavoured agushi dish</div>     
  </a>


</section>

<!--submit section to be developed-->
<section class="px-4 py-5 my-5 text-center">
  <img src="/img/food_4.jpg " class="d-block mx-auto mb-4" alt="Publish Recipe" width="700" height="300"
  Loading="lazy">
  <h1 class="display-5 fw-bold">Share Your Culinary Creations!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Recipe application going live in a few miniutes
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/submit-recipes" class="btn btn-primary btn-lg px-4 gap-3">Submit Your Recipe</a>
      <a href="/about" class="btn btn-outline-secondary btn-lg px-4">Learn More</a>

    </div>
  </div>
</section>